
<h1 class="display-1 text-center">Restaurants</h1>
<% @restaurants.each do |restaurant|  %>
<div class="card mx-auto" id="erest">
  <img src="https://source.unsplash.com/random" class="card-img-top" alt="...">
  <div class="card-body mx-auto">
    <h5 class="card-title text-center"><%= restaurant.name %></h5>
    <p class ="card-text text-center"><%= restaurant.category.capitalize %></p>
    <p class ="card-text text-center"><%= restaurant.address %></p>
    <p class="card-text text-center"><%= restaurant.phone_number %></p>

   <%= link_to "Update Info", edit_restaurant_path(restaurant), class: "btn btn-success text-center mr-2 " %>
   <%= link_to "Show Reviews", restaurant_path(restaurant), class: "btn btn-info text-center mr-2 " %>
   <%= link_to "Write Review", new_restaurant_review_path(restaurant), class: "btn btn-warning text-cente mr-2" %>
   <%= link_to "Delete Restaurant", restaurant_path(restaurant), method: :delete, data: {confirm: "Are you sure you want to delete this restaurant?"}, class: "btn btn-danger text-center" %>

  </div>
</div>
<% end %>
